In [142]:
import pandas as pd

# Path to your CSV file
file_path = 'NBA_Player_Salary_2022_2023.csv'  # Replace with your file path

# Load the CSV file into a DataFrame
game = pd.read_csv(file_path)

# Display the first few rows of the DataFrame
game.head()

,Unnamed: 0,Player Name,Salary,Position,Age,Team,GP,GS,MP,FG,...,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
0,0,Stephen Curry,48070014,PG,34,GSW,56,56,34.7,10.0,...,12.5,31.0,5.8,2.0,7.8,0.192,7.5,0.1,7.5,4.7
1,1,John Wall,47345760,PG,32,LAC,34,3,22.2,4.1,...,17.1,27.0,-0.4,0.7,0.3,0.020,-0.8,-0.4,-1.2,0.1
2,2,Russell Westbrook,47080179,PG,34,LAL/LAC,73,24,29.1,5.9,...,18.4,27.7,-0.6,2.6,1.9,0.044,0.3,-0.1,0.2,1.2
3,3,LeBron James,44474988,PF,38,LAL,55,54,35.5,11.1,...,11.6,33.3,3.2,2.4,5.6,0.138,5.5,0.6,6.1,4.0
4,4,Kevin Durant,44119845,PF,34,BRK/PHO,47,47,35.6,10.3,...,13.4,30.7,4.7,2.1,6.8,0.194,6.0,1.2,7.1,3.9

In [143]:
pip install pandas scikit-learn statsmodels

Requirement already satisfied: pandas in /srv/conda/lib/python3.9/site-packages (1.3.5)
Requirement already satisfied: scikit-learn in /srv/conda/lib/python3.9/site-packages (1.1.1)
Requirement already satisfied: statsmodels in /srv/conda/lib/python3.9/site-packages (0.13.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /srv/conda/lib/python3.9/site-packages (from pandas) (2.8.0)
Requirement already satisfied: pytz>=2017.3 in /srv/conda/lib/python3.9/site-packages (from pandas) (2021.1)
Requirement already satisfied: numpy>=1.17.3 in /srv/conda/lib/python3.9/site-packages (from pandas) (1.26.2)
Requirement already satisfied: scipy>=1.3.2 in /srv/conda/lib/python3.9/site-packages (from scikit-learn) (1.10.0)
Requirement already satisfied: joblib>=1.0.0 in /srv/conda/lib/python3.9/site-packages (from scikit-learn) (1.3.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /srv/conda/lib/python3.9/site-packages (from scikit-learn) (3.2.0)
Requirement already satisfied: packaging>=21.3 in /srv/conda/lib/python3.9/site-packages (from statsmodels) (21.3)
Requirement already satisfied: patsy>=0.5.2 in /srv/conda/lib/python3.9/site-packages (from statsmodels) (0.5.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /srv/conda/lib/python3.9/site-packages (from packaging>=21.3->statsmodels) (3.1.1)
Requirement already satisfied: six in /srv/conda/lib/python3.9/site-packages (from patsy>=0.5.2->statsmodels) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

# Set Up

In [144]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
import statsmodels.api as sm
from sklearn.metrics import mean_squared_error, r2_score

# Load the Dataset

In [145]:
# Load the dataset
df = pd.read_csv('NBA_Player_Salary_2022_2023.csv')
df = df[df['Salary'] > 1000000]

# Feature Engineering

In [146]:
# Create new feature: Game Started / Game Played
df['GS/GP'] = df['GS'] / df['GP']

# Handling missing values
df.fillna(df.mean(), inplace=True)

# Handling infinite values
df.replace([np.inf, -np.inf], np.nan, inplace=True)
df.fillna(df.mean(), inplace=True)

df['Position'] = df['Position'].str.split('-').str[0]

/tmp/ipykernel_114/3473210936.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.fillna(df.mean(), inplace=True)
/tmp/ipykernel_114/3473210936.py:9: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.fillna(df.mean(), inplace=True)

# Feature Selection

In [147]:
selected_features = ['Position', 'Age', 'FGA', 'TOV%', 'PTS', 'PER', 'VORP', 'FG%', 'USG%', 'GS/GP']
X = df[selected_features]
y = df['Salary']

In [148]:
preprocessor = ColumnTransformer(
    transformers=[
        ('cat', OneHotEncoder(), ['Position']),
        ('num', StandardScaler(), ['Age', 'FGA', 'TOV%', 'PTS', 'PER', 'VORP', 'FG%', 'USG%', 'GS/GP'])
    ])

# Split the dataset into training and test sets (70:30)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [153]:
# Preprocess the training data
X_train_transformed = preprocessor.fit_transform(X_train)
X_train_transformed = np.nan_to_num(X_train_transformed)

# Preprocess the test data
X_test_transformed = preprocessor.transform(X_test)
X_test_transformed = np.nan_to_num(X_test_transformed)

In [150]:
# Fit the GLM model and proceed with predictions and evaluation
glm_model = sm.GLM(y_train, sm.add_constant(X_train_transformed), family=sm.families.Gaussian())
glm_results = glm_model.fit()

In [151]:
# Predict on the test set and evaluate
y_pred = glm_results.predict(sm.add_constant(X_test_transformed))
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print("Mean Squared Error:", mse)
print("R-squared:", r2)

Mean Squared Error: 38244011656143.516
R-squared: 0.7315872068392756

In [152]:
print(glm_results.summary())

                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:                 Salary   No. Observations:                  274
Model:                            GLM   Df Residuals:                      260
Model Family:                Gaussian   Df Model:                           13
Link Function:               identity   Scale:                      4.4051e+13
Method:                          IRLS   Log-Likelihood:                -4685.6
Date:                Thu, 07 Dec 2023   Deviance:                   1.1453e+16
Time:                        18:38:28   Pearson chi2:                 1.15e+16
No. Iterations:                     3   Pseudo R-squ. (CS):             0.7941
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const       7.894e+06   3.37e+05     23.427      0.000    7.23e+06    8.55e+06
x1           8.31e+05   1.08e+06      0.768      0.443   -1.29e+06    2.95e+06
x2          1.395e+06   8.26e+05      1.688      0.091   -2.24e+05    3.01e+06
x3          2.994e+06   9.75e+05      3.071      0.002    1.08e+06     4.9e+06
x4          2.528e+06   8.86e+05      2.855      0.004    7.93e+05    4.26e+06
x5           1.46e+05   8.08e+05      0.181      0.857   -1.44e+06    1.73e+06
x6          3.781e+06   4.13e+05      9.164      0.000    2.97e+06    4.59e+06
x7         -2.581e+05   3.23e+06     -0.080      0.936   -6.58e+06    6.07e+06
x8           5.37e+05   5.08e+05      1.057      0.290   -4.58e+05    1.53e+06
x9          2.479e+06    3.5e+06      0.708      0.479   -4.39e+06    9.34e+06
x10          7.85e+05   1.27e+06      0.620      0.535    -1.7e+06    3.27e+06
x11         1.063e+06   9.39e+05      1.132      0.258   -7.78e+05     2.9e+06
x12        -5.134e+05    8.6e+05     -0.597      0.550    -2.2e+06    1.17e+06
x13         2.016e+06   9.98e+05      2.020      0.043    5.96e+04    3.97e+06
x14          2.58e+06   7.98e+05      3.233      0.001    1.02e+06    4.14e+06
==============================================================================